* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  flex-direction: column;
  .progress-bar-wrapper {
    opacity: 0;
    display: flex;
    justify-content: center;
    .progress {
      display: flex;
      width: 500px;
    }
  }

  .main-section {
    display: flex;
    justify-content: center;
    .main {
      display: flex;
      margin-top: 250px;
      flex-direction: column;
      justify-content: center;
      .main-bar {
        display: flex;
        justify-content: center;
        width: 500px;
        form {
          width: 100%;
          .button {
            width: 100%;
            button {
              background-color: #e94b3cff;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.modal-body {
  display: flex;
  text-align: center;
  justify-content: center;
}
